@style-main : #f03300;
.Login{
	font-size:14px;
	padding-top:100px;
	div{
		width:95%;
		height:50px;
		line-height:50px;
		margin:0 auto;
		label{
			width:100px;
			float:left;
			text-align: left;
		}
		input{
			height:50px;
		}
	}
	button{
		width:95%;
		background:@style-main;
		color:#fff;
		line-height:45px;
		border-radius:3px;
	}
}