
.CateContent{
	background:#fff;
	display:flex;
	position:absolute;
	top:50px;
	left:0;
	right:0;
	bottom:50px;
	.CateLeft{
		width:80px;
		height:100%;
		overflow-y:auto;
		border-right:1px solid #efefef;
		li{
			line-height:45px;
		}
		li.active{
			background:#f4f4f4;
		}
	}
	.CateRight{
		flex:auto;
		display:flex;
		flex-wrap: wrap;
		li{
			width:33.3333%;
			height:90px;
		}
	}

}