body{
  padding-bottom:1rem;
}
.index-tab{
    display:flex;
    line-height:0.8rem;
    background:#fff;
    justify-content:space-around;
    align-items:center;
    li.tab-item{
        text-align:center;
        color:#333;
        span{
            display:block;
            margin:0 auto;
            line-height:0.8rem;
            padding:0 0.05rem;
        }
        &.active{
          color:#FC4773;
          border-bottom:0.01rem solid #FC4773;
        }
    }
}
